body{
	
	
	font-family: 'Butcherman', cursive;
}
.header_section{
	
	min-height:500px;
	min-width:1000px;
    background-image: url(../img/bg-1.png);
	background-size:1100px 500px;
	background-position:no-repeat;
	
	
}
.guri_img {
	text-align: center;
}
.left {
	width: 600px;
	margin-top: 108px;
	margin-left: 17px;
}
 
.left h1 {
	color: white;
	font-size: 34px;
	padding: 0px;
}
.left p {
	color: white;
	font-size: 13px;
	text-align: center;
}
.left a img {
	background: red !important;
	margin-left: 93px;
}
.mobile_img {
	margin-top: 50px;
}
.icon_section {
	margin-top: 87px;
}
.flag{}
.flag img {
	margin-left: 78px;
}
.flag h1 {
	text-align: center;
}
.flag p {
	font-size: 17px;
	text-align: center;
}
.Search{}
.Search img{
	margin-left: 78px;
}
.Search h1{
	text-align: center;
}
.Search p{
	font-size: 17px;
	text-align: center;
}
.World Map{}
.World img{
	margin-left: 78px;
}
.World h1{
	text-align: center;
}
.World p{
	
	font-size: 17px;
	text-align: center;
}
.phone_setion {
	margin-top: 70px;
	background: silver;
}
.First_img{}
.First_img img {
	width: 326px;
}
.First_title {
	margin-top: 88px;
}
.First_title h1{}
.First_title p{}
.First_title a {}
.Second_title {
	margin-top: 186px;
}
.Second_title h1{}
.Second_title p{}
.sign_in {
	float: left;
}
.sign_up{}
.Second_img{}
.Second_img img {
	width: 348px;
}
.Third_img{}
.Third_img img {
	width: 322px;
}
.Third_title {
	margin-top: 151px;
}
.Third_title h1{}
.Third_title p{}
.Third_title a img {
	background: red;
	width: 180px;
}
.address_section{
	
	background-image: url(../img/bg-2.png);
	min-height:500px;
	background-repeat:no-repeat;
	background-size:1200px 600px;
	overflow:hidden;
	
	
	
	
}
.text {
	margin-top: 250px;
}
.text h1 {
	color: whitesmoke;
	font-size: 42px;
	text-align: center;
}
.text p {
	color: whitesmoke;
	font-size: 20px;
	margin-left: 31px;
}
.form {
	margin-top: 20px;
	margin-left: 240px;
}
.form_button {
	margin-left: 4px;
}
.form-group mx-sm-3 mb-2{}
.footer_section {
	overflow: hidden;
	margin-top: 230px;
}
.Made{}
.Made p{}
.Made a{}
.Privacy{}
.Privacy p{}
.Privacy p a{}
.Guri_Guri h4{}
.Guri_Guri p{}
.icon{}
.icon a{}
.icon a:hover{}



* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width:25%;

}
.element-item img{
	width:100%;
	
}
.element-item > * {
  margin: 0;
  padding: 0;
}
.filter_section{}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}




